html{
    background-color: black;
    font-family: 'Sail', cursive;
}

/*------------Page 1 Below ---------------*/

h1{ 
    position: absolute;
    top: 45%;
    left: 42%;
    color: white;
    transition-property: all;
    transition-duration: 5s;    
    transition-timing-function: ease;
    transition-delay: 0.5s; 
    transform: scale(2) ;
    font-family: 'Sail', cursive;
}

.credits{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.topage2{
    color: yellow;
    transition-property: all;
    transition-duration: 5s;    
    transition-timing-function: ease;
    transition-delay: 0s; 
    transform: scale(2) ;
    font-family: 'Sail', cursive;
    text-decoration: none;
    opacity: 1;
     /* Link for glowing effect: https://www.w3schools.com/css/css3_shadows.asp */
    text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px orange;
}

h3{
    color: white;
    position: absolute;
    top: 55%;
    left: 42%;
    transition-property: all;
    transition-duration: 5s;    
    transition-timing-function: ease;
    transition-delay: 0.5s; 
    font-family: 'Sail', cursive;
}

p{
    color: white;

}

/*------------Page 2 Below ---------------*/
.line1 {
    position: absolute;
    display: inline-block;
    top: 45%;
    left: 42%;
    color: white;
    font-family: 'Sail', cursive;
    opacity: 0;
    /* Professor Oakley's Module on Animations and Keyframes: https://sfsu.instructure.com/courses/47516/pages/week-8-asynch-module-8-dot-2-animations-slash-project-2?module_item_id=2990588*/
    animation-name: line1-animation;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
}

#wrong {
    color: red;
    display: inline-block;
    font-family: 'Sail', cursive;
    text-decoration: none;
    opacity: 0;
    transform: translate(0px, 0px) scale(1);
    animation-name: wrong-animation;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
    text-shadow: 0 0 10px rgb(208, 62, 62), 0 0 20px gold, 0 0 30px rgb(199, 135, 17);
}

.world {
    display: inline-block;
    font-family: 'Sail', cursive;
    text-decoration: none;
    transform: rotate(0deg);
    opacity: 0;
    animation-name: world-rotate;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    text-shadow: 0 0 10px rgb(61, 15, 246), 0 0 20px rgb(0, 77, 244), 0 0 30px rgb(0, 225, 255);
    
}

@keyframes world-rotate {
    0% {
        color: white;
        transform: rotate(0deg);
        opacity: 0;
    }
    100% {
        color: rgb(113, 113, 237);
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes line1-animation {
    0% {
        opacity: 0;
        transform: scale(1);
    } 
    100% {
        opacity: 1;
        transform: scale(4);
    }
}

@keyframes wrong-animation {
    0% {
        opacity: 0;
        transform: translate(0vw, 0vh) scale(1);
    }
    100% {
        opacity: 1;
        transform: translate(0vw, 3vh) scale(2);
    }
}


/*------------Page 3 Below ---------------*/

.race1 {
    position: absolute;
    top: 45%;
    left: 40%;
    color: white;
    font-family: 'Sail', cursive;
    opacity: 0;
    transform: translateX(0) scale(3);
    animation-name: race1-animation;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0.0s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.race2 {
    position: absolute;
    top: 52%;
    left: 39.5%;
    color: white;
    display: inline-block;
    font-family: 'Sail', cursive;
    opacity: 0;
    transform: translateX(0) scale(1);
    animation-name: race2-animation;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.colorlove{
    color: yellow;
    display: inline-block;
    transition-property: all;
    transition-duration: 2.5s;    
    transition-timing-function: ease;
    transition-delay: 0.0s; 
    cursor: default;  
    text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px orange; 
}

.colorlove:hover{
    transform: translate(0vw, -3.5vh) scale(2);
}

.colorword{
    color: yellow;
    display: inline-block;
    transition-property: all;
    transition-duration: 1.5s;    
    transition-timing-function: ease;
    transition-delay: 0.0s; 
    text-decoration: none;

}

.colorword:hover{
    transform: translate(0vw, 3vh) rotate(45deg);
}

.colorword{
    color: red;
    text-shadow: 0 0 10px rgb(208, 62, 62), 0 0 20px gold, 0 0 30px rgb(199, 135, 17);
}

@keyframes race1-animation {
    0% {
        opacity: 0;
        transform: translate(100vw, -5vw) scale(1); 
    }
    100% {
        opacity: 1;
        transform: translate(0vw, -5vw) scale(3);
    }
}

@keyframes race2-animation {
    0% {
        opacity: 0;
        transform: translate(-100vw, -5vh) scale(1); 
    }
    100% {
        opacity: 1;
        transform: translate(0vw, -5vh) scale(3);
    }
}

/*------------Page 4 Below ---------------*/

.chorus1 {
    position: absolute;
    top: 52%;
    left: 43%;
    color: white;
    display: inline-block;
    font-family: 'Sail', cursive;
    transform: scale(3);
    animation-name: chorus1-entry, chorus1-turn;
    animation-duration: 3s, 2s;
    animation-timing-function: ease, ease;
    animation-delay: 0s, 3s;
    animation-fill-mode: forwards, forwards;
    animation-iteration-count: 1, 1;
    animation-direction: normal, normal;
}

.chorus2 {
    position: absolute;
    top: 52%;
    left: 43%;
    color: white;
    display: inline-block;
    font-family: 'Sail', cursive;
    transform: scale(3);
    animation-name: chorus2-entry, chorus2-turn;
    animation-duration: 3s, 2s;
    animation-timing-function: ease, ease;
    animation-delay: 0s, 4s;
    animation-fill-mode: forwards, forwards;
    animation-iteration-count: 1, 1;
    animation-direction: normal, normal;
}

.word{
    color: red;
    animation-name: killin-animation;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
    text-shadow: 0 0 10px rgb(208, 62, 62), 0 0 20px gold, 0 0 30px rgb(199, 135, 17);
}

.topage5{
    text-decoration: none;
    color: rgb(94, 196, 229);
    text-shadow: 0 0 10px rgb(61, 15, 246), 0 0 20px rgb(0, 77, 244), 0 0 30px rgb(0, 225, 255);
} 
@keyframes chorus1-entry {
    0% {
        transform: translate(0vw, -100vh) scale(1);
    }
    100% {
        transform: translate(0vw, -20vh) scale(3);
    }
}
@keyframes chorus1-turn {
    0% {
        transform: translate(0vw, -20vh) scale(3) rotate(0deg);
    }
    100% {
        transform: translate(0vw, -20vh) scale(3) rotate(-20deg);
    }
}
@keyframes chorus2-entry {
    0% {
        transform: translate(0vw, 200vh) scale(1);
    }
    100% {
        transform: translate(0vw, 20vh) scale(3);
    }
}
@keyframes chorus2-turn {
    0% {
        transform: translate(0vw, 20vh) scale(3) rotate(0deg);
    }
    100% {
        transform: translate(0vw, 15vh) scale(3) rotate(25deg);
    }
}

/*------------Page 5 Below ---------------*/

.chorus3 {
    position: absolute;
    top: 52%;
    left: 43%;
    color: white;
    display: inline-block;
    font-family: 'Sail', cursive;
    transform: scale(3);
    animation-name: chorus3-animation;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.chorus4 {
    position: absolute;
    top: 52%;
    left: 43%;
    color: white;
    display: inline-block;
    font-family: 'Sail', cursive;
    transform: scale(3);
    animation-name: chorus4-animation;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
}


.preach {
    color: gold;
    display: inline-block; 
    transform: scale(1); 
    animation-name: preach-animation;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
    text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px orange;
}

.rotateword {
    color: gold;
    transform: scaleX(-1);
    display: inline-block;
    animation-name: rotateword-animation;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px orange;
    text-decoration: none;
}

@keyframes chorus3-animation {
    0% {
        transform: translate(0vw, -100vh) scale(1);
    }
    100% {
        transform: translate(0vw, -10vh) scale(3) ;
    }
}

@keyframes chorus4-animation {
    0% {
        opacity: 0;
        transform: translate(0vw, 200vh) scale(1); 
    }
    100% {
        opacity: 1;
        transform: translate(0vw, 0vh) scale(3); 
    }
}

@keyframes preach-animation {
    0% {
        transform: translateX(0vw) scale(1);
    }
    100% {
        transform: translateX(1vw) scale(1);
    }
}

@keyframes rotateword-animation {
    0% {
        transform: translateX(0) scale(1) scaleX(-1);
    }
    100% {
        transform: translateX(0vw) scale(1) scaleX(1);
    }
}

/*------------Page 6 Below ---------------*/
.chorus5 {
    position: absolute;
    top: 45%;
    left: 43%;
    color: white;
    display: inline-block;
    font-family: 'Sail', cursive;
    transform: scale(3);
    animation-name: chorus5-dissapear;
    animation-duration: 1.5s;
    animation-delay: 5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.chorus6 {
    position: absolute;
    top: 58%;
    left: 43%;
    color: white;
    display: inline-block;
    font-family: 'Sail', cursive;
    transform: scale(3);
}

.father1{
display: inline-block;
transform: scale(1);
animation-name: pulsefather1;
animation-duration: 1.5s;
animation-delay: 0s;
animation-timing-function: ease-in-out;
animation-fill-mode: both;
animation-iteration-count: 1;
animation-direction: normal;
margin: 1.5px;

}

.father2{
    display: inline-block;
    transform: scale(1);
    animation-name: pulsefather2;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-direction: normal;
    margin: 1.5px;

}
.father3{
    display: inline-block;
    transform: scale(1);
    animation-name: pulsefather3;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-direction: normal;
    margin: 1.5px;
}

.guidance{
    display: inline-block;
    transform: scale(1);
    animation-name: guidance-animation;
    animation-duration: 4s;
    animation-delay: 4.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-direction: normal;
    margin: 1.5px; 
}

.topage7{
    text-decoration: none;
    color: gold;
        text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px orange;
}

@keyframes chorus5-dissapear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes pulsefather1 {
    0% {
        transform: scale(1) ;
    }
    50% {
        color: gold;
        text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px orange;
        transform: scale(1.25) 
    }
    100% {
        color: gold;
        transform: scale(1);
    }
}

@keyframes pulsefather2 {
    0% {
        transform: scale(1) ;
    }
    50% {
        color: gold;
        text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px orange;
        transform: scale(1.25) translateX(0vw)
    }
    100% {
        color: gold;
        transform: scale(1);
    }
}

@keyframes pulsefather3 {
    0% {
        transform: scale(1) ;
    }
    50% {
        color: gold;
        text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px orange;
        transform: scale(1.25) translateX(0px)
    }
    100% {
        color: gold;
        transform: scale(1);
    }
}

@keyframes guidance-animation {
    0% {
        transform: scale(1) ;
}
    50% {
        color: gold;
        text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px orange;
        transform: translate(0vh, -4vh) scale(2);
}
    100% {
        color: gold;
        opacity: 1;
        transform: translate(0vh);
    }
}

/*------------Page 7 Below ---------------*/

.chorus7 {
    position: absolute;
    top: 52%;
    left: 41.5%;
    color: white;
    display: inline-block;
    font-family: 'Sail', cursive;
    transform: scale(3);
    animation-name: chorus7-entry, chorus7-dissappear;
    animation-duration: 4s, 2s;
    animation-timing-function: ease, ease;
    animation-delay: 0s, 6s;
    animation-fill-mode: forwards, forwards;
    animation-iteration-count: 1, 1;
    animation-direction: normal, normal;
}

.chorus8 {
    position: absolute;
    top: 52%;
    left: 45%;
    color: white;
    display: inline-block;
    font-family: 'Sail', cursive;
    transform: scale(3);
    opacity: 0;
    animation-name: chorus8-animation, chorus8-movescale ;
    animation-duration: 8s, 5s;
    animation-timing-function: ease-in-out, ease;
    animation-delay: 2s, 6s;
    animation-fill-mode: forwards, forwards;
    animation-iteration-count: 1, 1;
    animation-direction: normal, normal;
}

@keyframes chorus7-entry {
    0% {
        transform: translate(0vw, -100vh) scale(1);
    }
    100% {
        transform: translate(0vw, -10vh) scale(3) ;
    }
}
@keyframes chorus7-dissappear {
    0% {
    opacity: 1;
    }
    100% {
   opacity: 0;
    }
}

@keyframes chorus8-animation {
    0% {
        opacity: 0;
        transform: translate(-100vw, 0vh) scale(1);
    }
    50% {
        color: gold;
        opacity: 1;
        transform: translate(0vw, 0vh) scale(3); 
    }
    100% {
        color: gold;
        text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px orange;
        opacity: 1;
        
        transform: translate(0vw, 0vh) scale(3); 
    }
}

@keyframes chorus8-movescale {
    0% {
        color: gold;
        text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px orange;
        opacity: 1;
    }
    100% {
        color: gold;
        text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px orange;
        opacity: 1;
        transform: translate(0vw, -10vh) scale(3); 
    }
}